<mat-card>
  <mat-card-title>
    Select
  </mat-card-title>
  <mat-card-content>
    <section>
      <p>Select the fields that you need:</p>
      <mat-radio-group name="fieldName" [(ngModel)]="fieldName">
        <mat-radio-button value="button">Button</mat-radio-button>
        <mat-radio-button value="checkbox">Checkbox</mat-radio-button>
        <mat-radio-button value="progressBar">progress BAR</mat-radio-button>
      </mat-radio-group>
    </section>

    <br>

    <section [ngSwitch]="fieldName">
      <button *ngSwitchCase="'button'" mat-raised-button color="accent">Button</button>
      <mat-checkbox *ngSwitchCase="'checkbox'">Checkbox</mat-checkbox>
      <mat-progress-bar *ngSwitchCase="'progressBar'" color="warn" mode="indeterminate"></mat-progress-bar>
    </section>

  </mat-card-content>

</mat-card>
